<div class="main-container">
    <mat-toolbar color="primary" class="top-bar">
        <mat-toolbar-row>
            <img src="../assets/logo_2.png" alt="TTI Logo" class="logo">
            <span>Graduation Paper Monitoring System</span>
        </mat-toolbar-row>
    </mat-toolbar>
    <mat-sidenav-container>
        <mat-sidenav mode="side" opened class="sidebar">
            <app-sidenav></app-sidenav>
        </mat-sidenav>
        <mat-divider [vertical]="true"></mat-divider>
        <mat-sidenav-content>
            <div class="side-container">
                <router-outlet></router-outlet>
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>