<div class="row" *ngIf="graduationPaper">
    <div class="col-sm-4">
        <div>
            <mat-card>
                <mat-card-header>
                    <mat-card-title>Graduation Paper: {{graduationPaper.title}}</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <p>Supervisor: {{graduationPaper.supervisor}}</p>
                    <p>Student: {{graduationPaper.student}}</p>
                    <p>Year: {{graduationPaper.year}}</p>
                    <p>Level: {{graduationPaper.paperType}}</p>
                    <p>Overall work progress:</p>
                    <mat-progress-bar [color]="primary" [mode]="determinate" [value]="stepProgress()">
                    </mat-progress-bar>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
    <div class="col-sm-8">
        <div class="mat-elevation-z8">
            <h2>Graduation Paper Steps</h2>
            <table mat-table class="full-width-table" matSort aria-label="Graduation Paper Steps" [dataSource]="tableDs">
                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>#</th>
                    <td mat-cell *matCellDef="let row">{{row.id}}</td>
                </ng-container>

                <ng-container matColumnDef="stepType">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Step</th>
                    <td mat-cell *matCellDef="let row">{{getTypeByValue(row.stepType)}}</td>
                </ng-container>

                <ng-container matColumnDef="stepStatus">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
                    <td mat-cell *matCellDef="let row" [style.color]="colors[row.stepStatus]">{{getStatusByValue(row.stepStatus)}}</td>
                </ng-container>

                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Actions</th>
                    <td mat-cell *matCellDef="let row; let i = index">
                        <button *ngIf="allowEdit(i)" mat-button color="primary" (click)="edit(i)" [routerLink]="['..', 'step', row.id ]">Details</button>
                        <button *ngIf="row.stepStatus === 2" mat-button color="primary" (click)="approve(i)">Approve</button>
                        <button *ngIf="row.stepStatus === 2" mat-button color="primary" (click)="reject(i)">Reject</button>
                        <button *ngIf="allowNotify(row)" mat-button color="primary" (click)="notify(i)">Notify</button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>
    </div>
</div>