<h1 mat-dialog-title>Reject reason</h1>
<form #formControl="ngForm">
    <div class="form">
        <mat-form-field color="accent">
            <textarea matInput #input placeholder="Reason" [(ngModel)]="data.comment" required name="comment" required maxlength="2048" cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5"></textarea>
            <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
    </div>
    <div mat-dialog-actions>
        <button mat-button [disabled]="!formControl.valid" [mat-dialog-close]="data.comment" (click)="submit()" [mat-dialog-close]="1">Confirm</button>
        <button mat-button color="accent" (click)="onNoClick()">Cancel</button>
    </div>
</form>